.p-1-mobile{
        font-size: 10px;
        display: flex;
        position: relative;
        top: 0px; /* Espaçamento acima e abaixo */
        left: -365px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
        width: 300px;
    }
