@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
}

.container{
    max-width: 1080;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #000000;
    width: 100%;
    padding: 10px;
}

.logo{
    width: 25%;
    cursor: pointer;
}

.sociais{
    width: 25%;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.10s;
}

.menu nav a:hover::after{
    width: 55px;
}

.sociais button{
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #ff2500, #ff7100);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.sociais button i{
    font-size: 20px;
    color: #ffffff;
}

/* Estilização do menu mobile */
@media screen and (max-width: 1030px) {


    .img1-mobile{
        display: flex;
        position: absolute;
        top: 750px;
        left: 85px;
        flex-direction: column; /* Itens alinhados na horizontal */
        align-items: center; /* Alinha verticalmente */
    }

    .box-txt1-mobile{
        font-size: 14px;
        flex-direction: column;
        display: flex;
        position: relative;
        top: 50px; /* Espaçamento acima e abaixo */
        left: -50px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .logo2-mobile{
        display: flex;
        position: absolute;
        top: 1280px;
        left: -95px;
        flex-direction: column; /* Itens alinhados na horizontal */
        align-items: center; /* Alinha verticalmente */
    }

    .box-txt2-mobile{
        font-size: 16px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 1550px;
        left: -10px;                
    }

    /* Nosso Logo */
    .h1-2-mobile{
        display: flex;
        position: relative;
        top: 1000px; /* Espaçamento acima e abaixo */
        left: -50px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .linha1-mobile{
        display: flex;
        position: relative;
        top: 1020px; /* Espaçamento acima e abaixo */
        left: 0px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

/*Grito de Guerra */
    .h1-3-mobile{
        display: flex;
        position: relative;
        top: 1575px; /* Espaçamento acima e abaixo */
        left: -50px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .linha2-mobile{
        display: flex;
        position: relative;
        top: 1620px; /* Espaçamento acima e abaixo */
        left: 0px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .box-txt3-mobile{
        font-size: 14px;
        flex-direction: column;
        display: flex;
        position: relative;
        top: 1670px; /* Espaçamento acima e abaixo */
        left: -70px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .linha3-mobile{
        display: flex;
        position: relative;
        top: 1800px; /* Espaçamento acima e abaixo */
        left: 0px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .p-1-mobile{
        display: flex;
        position: relative;
        top: 1820px; /* Espaçamento acima e abaixo */
        left: 0px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    }

    .menu, .sociais{
        display: none;
    }

    .logo{
        width: 100%
    }
}

h1 {
    position: relative;
    top: 20px; /* Move para baixo */
    left: 80px; /* Move para a direita */
  }
  

p{
    font-family: arial;
    text-align:justify;
    text-indent: 20px;
}

.box-txt1{
    width: 720px;
    height: 40px;
    position: relative;
    top: 30px;
    left: 80px;
    background-color: #fff;
}

.img1{
    display: flex;
    justify-content: right;
    position: relative;
    top: -15px;
    left: -90px;   
}

.linha1 {
    width: 87%; /* Largura da linha */
    height: 1px; /* Espessura da linha */
    background-color: rgb(235, 231, 231); /* Cor da linha */
    margin: 2% 0; /* Espaçamento acima e abaixo */
    margin-left: 6%;
    top: -20px;
  }

  .logo2{
        position: relative;
        top: -80px;
        left: 65px;
}

.box-txt2{
    width: 720px;
    height: 40px;
    position: relative;
    top: -450px; /* Espaçamento acima e abaixo */
    left: 537px; /* Espaçamento lateral, positivo para direita negativo para esquerda */
    background-color: #fff;
}

.linha2 {
    width: 87%; /* Largura da linha */
    height: 1px; /* Espessura da linha */
    background-color: rgb(235, 231, 231); /* Cor da linha */
    margin: 5% 0; /* Espaçamento acima e abaixo */
    margin-left: 6%;
    top: -150px;
    position: relative;
  }

  .h1-3 {
    position: relative;
    top: -90px; /* Move para baixo */
    left: 80px; /* Move para a direita */
  }

  .box-txt3{
    width: 300px;
    height: 40px;
    position: relative;
    top: -180px;
    left: 100px;
}

.h4-1{
    position: relative;
    top: -200px; /* Move para baixo */
    left: 100px; /* Move para a direita */

}

.linha3 {
    width: 87%; /* Largura da linha */
    height: 1px; /* Espessura da linha */
    background-color: rgb(235, 231, 231); /* Cor da linha */
    margin: 5% 0; /* Espaçamento acima e abaixo */
    margin-left: 6%;
    top:30px;
    position: relative;
  }

  .p-1{
    width: 500px;
    position: relative;
    left: 500px;
  }

  
