@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* estilização do conteúdo */

section{
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}


